doctype html
html
    head
        meta(charset="utf-8")
        title front_1
        //- script(src="//code.jquery.com/jquery-3.3.1.min.js")
        //- script(src="plugins/jquery.fancybox.min.js")
        script(src="js/main.js")
        

        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css")
        link(rel="stylesheet", href="css/style.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400")
    body
        .header.center__screen
            .logo.header__margin
            .btn_login.header__margin Button
        .front.center__screen
            .front__title.center__screen Тестовое задание
            .front__text.center__screen 
                |На его примере мы хотим продемонстрировать наш подход к организации разработки,
                br
                | а также познакомиться с вашими методами вёрстки популярных элементов веб-сайтов
        .cards.center__screen  
            .cards__card
                .cards__card_img
                .cards__card_title Sed ut perspiciatis      
                .cards__card_text 
                    |Unde omnis iste natus error sit voluptatem 
                    br
                    |accusantium doloremque laudantium
                .cards__card_date 01.01.2018
            .cards__card
                .cards__card_img
                .cards__card_title Sed ut perspiciatis      
                 .cards__card_text 
                    |Unde omnis iste natus error sit voluptatem 
                    br
                    |accusantium doloremque laudantium
                .cards__card_date 01.01.2018
            .cards__card
                .cards__card_img
                .cards__card_title Sed ut perspiciatis      
                .cards__card_text 
                    |Unde omnis iste natus error sit voluptatem 
                    br
                    |accusantium doloremque laudantium
                .cards__card_date 01.01.2018
            .cards__card
                .cards__card_img
                .cards__card_title Sed ut perspiciatis      
                 .cards__card_text 
                    |Unde omnis iste natus error sit voluptatem 
                    br
                    |accusantium doloremque laudantium
                .cards__card_date 01.01.2018
            .cards__card
                .cards__card_img
                .cards__card_title Sed ut perspiciatis      
                .cards__card_text 
                    |Unde omnis iste natus error sit voluptatem 
                    br
                    |accusantium doloremque laudantium
                .cards__card_date 01.01.2018
            .cards__card
                .cards__card_img
                .cards__card_title Sed ut perspiciatis      
                 .cards__card_text 
                    |Unde omnis iste natus error sit voluptatem 
                    br
                    |accusantium doloremque laudantium
                .cards__card_date 01.01.2018
        .galery.center__screen
            .galery__title Галерея
            .galery__row
                .galery__row_item.picture
                .galery__row_item
                .galery__row_item
